/public/css
/public/js
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/certbot
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/draft.yaml
/.blueprint
