@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.h-chat-area {
  height: calc(100vh - 66px);
}
.h-threads {
  height: calc(100vh - 90px);
}
.h-thread-ui-mobile {
  /*height: calc(100vh - 207px);*/
}
[x-cloak] { display: none !important; }
