@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.h-chat-area {
  height: calc(100vh - 139px);
}
.h-thread-ui-mobile {
  height: calc(100vh - 207px);
}
[x-cloak] { display: none !important; }
